header, .project {
    border-bottom: 1px solid #ccc;
    background-color: rgb(212, 86, 28);
    
}

a {
  color: black
}


nav a {
  color: white

}

  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #b3d0dd;
    text-decoration: underline;
  }
  
